//- Base Layout
include ../mixins/header.pug

doctype html
html(lang="en-US")
  head
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )
    title Test Stuff - #{title}
    link(
      href="css/style.css"
      rel="stylesheet"
    )
    link(
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;800;900&display=swap"
      rel="stylesheet"
    )
    link(
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
      rel="stylesheet"
    )
     
    block scripts
      //- script(src='../../js/index.js')
  body
    +header()
    block content
      #content 
        section empty content block
    block foot
      #footer
        footer some footer content
  script(
    type='text/javascript'
    src='js/menu.js'
  )