//- Base Layout
doctype html
html(
  lang="en-US"
  prefix="og: https://ogp.me/ns#"
)
  head
    block pageHeaders
    link(
      href="../css/style.css"
      rel="stylesheet"
    )
    link(
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;800;900&display=swap"
      rel="stylesheet"
    )
    link(
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
      rel="stylesheet"
    )
    block scripts
      script(src='../js/index.js')
  body
    block header
    block content
      #content 
        section empty content block
    block foot
      include ./footer.pug
