footer.footer.gradient
  .content
    .columns
      .column 
        a(href="/")
            img(
            class="logo"
            src="./img/logos/epfl.svg"
            alt="EPFL Logo"
          )
        br
        a(href="/")
          img(
            class="logo"
            src="./img/logos/bbp.png"
            alt="Blue Brain Project logo"
          )
      .column
        a(href="/")
          h3 Products
        ul
          a(href="/")
            li Fusion
          a(href="/")
            li Forge
          a(href="/")
            li Delta
          a(href="/")
            li Nexus.js
          a(href="/")
            li CLI
          a(href="/")
            li Roadmap
      .column
        a(href="/")
          h3 Getting Started
      .column
        a(href="/")
          h3 Developers
      .column.socials
        .columns
          .column
            a(href="/")
              img(
                class="logo"
                src="./img/logos/gitter.svg"
                alt="Gitter"
              )
          .column
            a(href="/")
              img(
                class="logo"
                src="./img/logos/linkedin.svg"
                alt="LinkedIn"
              )
          .column
            a(href="/")
              img(
                class="logo"
                src="./img/logos/github-square.svg"
                alt="Github"
              )
          .column
            a(href="/")
              img(
                class="logo"
                src="./img/logos/twitter-square.svg"
                alt="Twitter"
              )

  p Blue Brain Nexus is Open Source and available under the Apache License 2.0
  p © Blue Brain Project/EPFL 2005 – 2020. All rights reserved. 