include ../mixins/mobileMenu.pug
include ../mixins/navbar.pug

mixin header()
  header(
    class="header"
  )
    div(
      class="container"
    )
      div(
        class="logo-container"
      )
        img(
          class="logo"
          src="img/logo.png"
          alt="Nexus logo"
          width="30px"
          height="30px"
        )
        span NEXUS
      +navbar()
      +mobileMenu()