include ../mixins/mobileMenu.pug
include ../mixins/navbar.pug

mixin header(className)
  header(
    id="header"
    class=`header ${className}`
  )
    div(
      class="header-container"
    )
      div(
        class="logo-container"
      )
        img(
          class="logo"
          src="../img/logo.png"
          alt="Nexus logo"
          width="30px"
          height="30px"
        )
        span BLUE BRAIN NEXUS
      +navbar()
      +mobileMenu()