include ../mixins/productsList.pug
include ../mixins/useCasesList.pug
include ../mixins/gettingStartedList.pug
include ../mixins/devList.pug

mixin navbar
  div(
    id="nav"
    class="navigation"
  )
    div(
      class="nav-dropdown-item"
    )
      button(
        class="nav-button"
        id="products-nav-item-button"
      ) Products
      div(
        id="products-dropdown"
      )
        div.arrow-up
        +productsList("desktop")
    div(
      class="nav-dropdown-item"
    )
      button(
        class="nav-button"
        id="getting-started-nav-item-button"
      ) Getting Started
      div(
        id="getting-started-dropdown"
      )
        div.arrow-up
        +gettingStartedList("desktop")
    div(
      class="nav-dropdown-item"
    )
      button(
        id="dev-nav-item-button"
        class="nav-button"
      ) Developers
      div(
        id="dev-dropdown"
      )
        div.arrow-up
        +devList("desktop")