mixin seoHeaders(title, description)
  title= title
  meta(
    charset="utf-8"
  )
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1"
  )
  meta(
    name="description"
    content= description
  )
  meta(
    property="og:title"
    content="Blue Brain Nexus"
  )
  meta(
    property="og:url"
    content="https://bluebrainnexus.io/"
  )
  meta(
    property="og:type"
    content="website"
  )
  meta(
    property="og:description"
    content= description
  )
  meta(
    property="og:image"
    contant="Add me later"
  )
  